# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# 虚拟环境
venv/

# 敏感信息（API Key）
.env

# 视频文件（太大，不提交到 git）
data/*
output/*
*.mp4
*.avi
*.mov
*.mkv

# IDE
.vscode/
.idea/

# 系统文件
Thumbs.db
.DS_Store
